Cython
numpy
scipy
scikit-learn
numba
sphinx>=1.6.1
ipykernel
nbsphinx
sphinx-gallery
pillow
tensorflow>=2
Pygments
sphinx_bootstrap_theme
sphinx-autoapi
git+git://github.com/numpy/numpydoc@master
matplotlib
seaborn
statsmodels
pandas
boto3
